<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      
      
      <div class="content">
        <% if(user){ %> <p>Informations provenant du manifest.json</p> <%}%>
        <% if(user){ %> <p>Informations provenant du monitoring</p> <%}%>
        <p><%= blog.body %></p>
      </div>

      <!-- Tool Bar -->
      <% if(user){ %> <% if(user._id == blog.creator){ %>
      <a class="delete actionBT" data-doc="<%= blog._id %>">
        <img src="/img/trashcan.svg" title="Remove Assessment" alt="Delete icon" />
      </a>
      <a class="edit actionBT" data-doc="<%= blog._id %>">
        <img width="25px" src="/img/btEdit.png" title="Edit test information" alt="Edit Test info" />
      </a>
      <a class="start actionBT" data-doc="<%= blog._id %>">
        <img width="25px" src="/img/btStart.png" title="Start test" alt="Start Test" />
      </a>
      <% }else{%><div class="delete">Impossible</div> 
      <%}%> %> <% } %>
      
    </div>

    <%- include("../partials/footer.ejs") %>

    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;

        fetch(endpoint, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
