<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

   
   
    <div class="assessments content">
      <h1>Welcome <%= user.firstname %> <%= user.lastname %> to the TIPI platform </h1>
      <p>Below your available assessments. If you don't find your assessment here, call your administrator.</p>
      You belong to the groups : <%= user.group %>
      
      <% if(assessments.length > 0){ %> <% assessments.forEach(assessments => { %>
      <a class="single" href="/publications/<%= assessments._id %>">
        <h3 class="title"><%= assessments.title %></h3>
        <p><%= assessments._id %></p>
        <p><%= assessments.testGroup[0].testID %></p>
        <p><%= assessments.testGroup[0].groupID %></p>
        <p>--</p>
        <p class="snippet"><%= assessments.snippet %></p>
      </a>
      <% }) %> <% } else { %>
      <p>No assessments to display yet!</p>
      <% } %>
    
     
      <h2>Current assessments</h2>
      <h2>Completed assessments</h2>
      <p>Here the completed assessments</p>
    
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
