<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="assessments content">
      <h1>Welcome <%= user.firstname %> <%= user.lastname %> to the TIPI platform </h1>
      <p>Below your available assessments. If you don't find your assessment here, call your administrator.</p>

      <% function determineStatus(startOn, endOn) {
        const now = new Date();
        const startDate = new Date(startOn);
        const endDate = new Date(endOn);
        if (now < startDate) return "Coming Soon";
        if (now > endDate) return "Passed";
        return "Available";
      } %>

      <% function formatDate(dateString) {
        const date = new Date(dateString);
        const options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
        return new Intl.DateTimeFormat('en-US', options).format(date);
      }%>

      <% if (assessments.length > 0) { %>
        <% const groupedAssessments = { 'Coming Soon': [], 'Available': [], 'Passed': [] }; %>
        <% assessments.forEach(assessment => {
            const status = determineStatus(assessment.startOn, assessment.endOn);
            groupedAssessments[status].push(assessment);
        }); %>

        <% for(const status in groupedAssessments) { %>
          <% if(groupedAssessments[status].length > 0) { %>
            <h2 style="margin:10px!important"><%= status %></h2>
            <% groupedAssessments[status].forEach(assessment => { %>
              <div class="single caster" data-pub="<%=assessment._id%>" data-test="<%= assessment.testurl %>" data-student="<%= userId %>">
                <h3 class="title"><%= assessment.title %></h3>
                <p class="snippet"><b>START</b>: <%= formatDate(assessment.startOn)%> | <b>END</b>: <%= formatDate(assessment.endOn) %></p>
                <p class="snippet"><%= assessment.snippet %></p>
                <p class="snippet"><%= assessment.testDetails %></p>    
              </div>
            <% }); %>
          <% } %>
        <% } %>
      <% } else { %>
        <p>No assessments to display yet!</p>
      <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".caster").on("click", function(e) {
          e.preventDefault(); // Prevent the default link behavior

          var test = $(this).data('test');
          var student = $(this).data('student');
          var publication = $(this).data('pub');

          $.post('/set_session', { testCode: test, studentCode: student, publicationCode: publication}, function(data) {
            if (data.success) {
              // Redirect to the test page after setting the session
              window.location.href = `/wtipiPubs/test${test}`;
            } else {
              alert('Failed to set session data');
            }
          }).fail(function() {
            alert('Failed to set session data');
          });
        });
      });
    </script>
  </body>
</html>
