<div class="tabSection"> 
    <h2>Group Info</h2>
    <div class="tabContainer">

        <!-- <div class="cardTP">
            <div class="cardTitle fact3">group ID</div>
            <div class="cardContent">
                <%= publication.testGroup[0].groupId %>
            </div>
        </div> -->
        
        <div class="cardTP">
            <div class="cardTitle fact3">group name</div>
            <div class="cardContent">
                <%= publication.testGroup[0].groupName %>
            </div>
        </div>

        <div class="cardTP">
            <div class="cardTitle fact3">students number</div>
            <div class="cardContent">
                <span class="studentCount"></span>
            </div>
        </div>

        <div class="cardTP">
            <div class="cardTitle fact3">institution</div>
            <%= publication.testGroup[0].groupInstitution %>
        </div>




        <div class="cardTP">
            <div class="cardTitle fact3">sector / class</div>
            <div class="cardContent">
                <%= publication.testGroup[0].groupSector %>
            </div>
        </div>


        <div class="cardTP">
            <div class="cardTitle fact2">level / year</div>
            <div class="cardContent">
                <%= publication.testGroup[0].groupLevel %>
            </div>
        </div>

        <div class="comment">
            <div class="cardTitle fact">group creator comments</div>
            <%= publication.testGroup[0].groupComment %>
        </div>

    </div>
</div>
